td, th {
	border: 1px solid;
	color: #577BC1;
  }

th {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FFEB00
}

td {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
	background-color: #577BC1;
	float: left;
	width: 73%
	height: 800px;
}

aside {
	float: left;
	width: 27%;
	background-color: #000957;
}