body{
	background-color: #1e1e1e;
}
td, th {
	border: 1px solid;
	color: #577BC1;
  }

th {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FFEB00;
}

td, p {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

aside {
	float: right;
	width: 27%;
	background-color: #577BC1;
}