body{
	background-color: #1e1e1e;
}

td, th {
	border: 2px solid;
	color: #FFEB00;
  }


#page-wrapper {
	width: 100%;
	margin: 0 auto;
	color: #577BC1
}

nav {
	width: 100%;
	height: 100px;
	background-color: #525CEB;
	float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#nav ul li a:hover {
  background-color: #FFEB00;
  color: #EEEEEE;
}


#nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #EEEEEE;
}


th {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FFEB00;
}

td, li {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #344CB7;
}

p {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFEB00;
}

aside {
	float: left;
	width: 40%;
	background-color: #344CB7;
}